#root {
  .list {
    transition: all 0.3s ease-in-out;

    &-item {
      background-image: url(../img/i.gif);
      background-position: top left;
      background-repeat: repeat-y;
      display: block;
      padding-left: 20px;
      position: relative;
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 1.95;
      margin-left: 50px;
      zoom: 1;

      svg {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
      }

      &-add {
        fill: $color-primary;
      }

      &-delete {
        fill: $color-secondary;
      }

      &-edit {
        fill: $color-third;
      }
    }

    &-item:before {
      content: url(../img/expand_leaf.gif);
      left: 0;
      position: absolute;
      top: 0;
    }

    &-item.has-children:before {
      content: url(../img/expand_minus.gif);
      left: 0;
      position: absolute;
      top: 0;
    }

    &-item.has-children.closed:before {
      content: url(../img/expand_plus.gif);
      left: 0;
      position: absolute;
      top: 0;
    }

    &-item.has-children > .list-item-toggle {
      cursor: pointer;
    }

    &-item.last-child {
      background-image: url(../img/i.gif);
      background-repeat: no-repeat;
    }

    &-item .Container {
      display: block;
    }

    &-item.closed .list {
      display: none;
    }
  }

  & > ul.list > li.list-item {
    background-image: none;
  }
}
