.modal-window {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  left: 50%;
  position: fixed;
  padding: 5rem 6rem;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  width: 60rem;
  z-index: 1000;

  .btn--close-modal {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 3.5rem;
    position: absolute;
    right: 1.6rem;
    top: 0.5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 50rem;
    padding: 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 40rem;
    padding: 3rem;
  }
}

.overlay {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: 100;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__input {
    align-items: center;
    display: flex;
    width: 100%;

    & label {
      color: inherit;
      flex: 1;
      font-size: 1.5rem;
      font-weight: 600;
    }

    & input {
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      flex: 3;
      padding: 0.8rem 1rem;
      transition: all 0.2s;
      width: 100%;

      &::placeholder {
        color: $color-grey-light-3;
      }

      &:focus {
        outline: none;
        background-color: $color-grey-light-1;
        border: 1px solid $color-primary;
      }

      &:invalid {
        border: 1px solid $color-secondary;
      }
    }
  }

  &__heading {
    align-self: flex-start;
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  &__btn {
    justify-self: center;
    margin-top: 2rem;
    width: fit-content;
  }
}
